/*General*/

body {
  background-color: #f4f5f6;
}

/*Header*/

.main-text {
  color: #fff;
  font: bold 15px "Roboto Condensed",sans-serif;
  text-decoration: none;
}

.top-header {
  background-color: #f72210;
  padding: 16px 10px 15px;
  height: 95px;
  overflow: hidden;
}

.weather-loc {
  margin-bottom: 8px;
  cursor: pointer;
}

.moon {
  width: 24px;
}

.date {
  font: normal 16px;
}

.logo {
  height: 70px;
  width: 400px;
  bottom: 5px;
  position: relative;
}

.top-right-header {
  text-align: end;
  line-height: 100px;
  height: 92px;
}

.sign-in:hover {
  text-decoration: none;
  color: #fff;
}

.subscribe {
  color: #f72210;
  background-color: #fff;
  padding: 4px 10px;
  font-size: 17px;
  margin-left: 6px;
}

.subscribe:hover {
  text-decoration: none;
  color: #f72210;
}

.bottom-header {
  height: 56px;
  background-color: #fff;
  position: relative;
  border-bottom: 2px solid #f4f5f6;
}

.nav-links {
  width: 100%;
  padding: 0;
}

.bottom-header a {
  color: #000;
  font: bold 17px "Roboto Condensed",sans-serif;
  border-right: 1px solid #d9d9d9;
  padding: 0 15px 0 2px;
}

.bottom-header a:hover {
  color: #f72210;
  text-decoration: none;
}

.search-input {
  width: 60px;
  height: 54px;
  padding: 0;
  border: none;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.blank {
  width: 78px;
}

.white-space {
  width: 78px;
  height: 13px;
  background-color: #f72210;
  top: 0;
  right: 0;
  position: absolute;
}

/*Main Section*/

main {
  border-top: 2px solid #f4f5f6;
  background-color: #fff;
}

.main-section h1 {
  font: bold 23px "Roboto Condensed",sans-serif;
  color: #000;
  line-height: 24px;
  letter-spacing: -1.5px;
  width: 342.59px;
}

.main-section p {
  font: 15px Arial,Helvetica,sans-serif;
  color: #000;
  line-height: 20px;
  width: 342.59px;
}

.first-col {
  height: 3236px;
}

.title {
  color: #030303;
  opacity: 0.4;
  padding-bottom: 11px;
  font: 15px "Roboto Condensed",sans-serif;
  letter-spacing: -1.5px;
}

.img-container {
  width: 342.59px;
  height: 228.67px;
  margin-bottom: 10px;
  position: relative;
}

.first-col img {
  width: 342.59px;
  height: 228.67px;
}

.category {
  font: bold 15px "Roboto Condensed",sans-serif;
  color: #f72210;
  padding: 8px 15px 9px;
  background-color: rgba(255,255,255,.9);
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1310px;
  } 
  .container-fluid {
    max-width: 1310px;
    padding: 20px 30px 0 30px;
  }
}