/*General*/

body {
  background-color: #f4f5f6;
}

/*Header*/

.main-text {
  color: #fff;
  font: bold 15px "Roboto Condensed",sans-serif;
  text-decoration: none;
}

.top-header {
  background-color: #f72210;
  padding: 16px 10px 15px;
  height: 95px;
  overflow: hidden;
}

.weather-loc {
  margin-bottom: 8px;
  cursor: pointer;
}

.moon {
  width: 24px;
}

.date {
  font: normal 16px;
}

.logo {
  height: 70px;
  width: 400px;
  bottom: 5px;
  position: relative;
}

.top-right-header {
  text-align: end;
  line-height: 100px;
  height: 92px;
}

.sign-in:hover {
  text-decoration: none;
  color: #fff;
}

.subscribe {
  color: #f72210;
  background-color: #fff;
  padding: 4px 10px;
  font-size: 17px;
  margin-left: 6px;
}

.subscribe:hover {
  text-decoration: none;
  color: #f72210;
}

.bottom-header {
  height: 56px;
  background-color: #fff;
  position: relative;
  border-bottom: 2px solid #f4f5f6;
}

.nav-links {
  width: 100%;
  padding: 0;
}

.bottom-header a {
  color: #000;
  font: bold 17px "Roboto Condensed",sans-serif;
  border-right: 1px solid #d9d9d9;
  padding: 0 15px 0 2px;
}

.bottom-header a:hover {
  color: #f72210;
  text-decoration: none;
}

.search-input {
  width: 60px;
  height: 54px;
  padding: 0;
  border: none;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.blank {
  width: 78px;
}

.white-space {
  width: 78px;
  height: 13px;
  background-color: #f72210;
  top: 0;
  right: 0;
  position: absolute;
}

/*Main Section*/

main {
  border-top: 2px solid #f4f5f6;
  background-color: #fff;
}

/*First Column*/

.first-col h1 {
  font: bold 23px "Roboto Condensed",sans-serif;
  color: #000;
  line-height: 24px;
  letter-spacing: -1.5px;
  width: 342.59px;
  cursor: pointer;
}

.first-col p {
  font: 15px Arial,Helvetica,sans-serif;
  color: #000;
  line-height: 20px;
  width: 342.59px;
}

.first-col {
  width: 372.59px;
}

.title {
  color: #030303;
  opacity: 0.4;
  padding-bottom: 11px;
  font: 15px "Roboto Condensed",sans-serif;
  letter-spacing: -1.5px;
}

.img-container1 {
  width: 342.59px;
  height: 228.67px;
  margin-bottom: 10px;
  position: relative;
}

.first-col img {
  width: 342.59px;
  height: 228.67px;
}

.category1 {
  font: bold 15px "Roboto Condensed",sans-serif;
  color: #f72210;
  padding: 8px 15px 9px;
  background-color: rgba(255,255,255,.9);
  position: absolute;
  bottom: 0;
  left: 0;
}

.img-container2 {
  width: 506.19px;
  height: 312px;
  margin-bottom: 10px;
  position: relative;
}

/*Second Column*/

.second-col {
  width: 536.19px;
}

.second-col img {
  width: 506.19px;
  height: 312px;
}

.second-col h1 {
  font: bold 21px "Roboto Condensed",sans-serif;
  color: #000;
  line-height: 24px;
  letter-spacing: -1.5px;
  width: 506.19px;
  cursor: pointer;
}

.second-col p {
  font: 15px Arial,Helvetica,sans-serif;
  color: #000;
  line-height: 20px;
  width: 506.19px;
  cursor: pointer;
}

.img-container3 {
  width: 155px;
  height: 155px;
  margin-bottom: 10px;
  position: relative;
}

.img-container3 img {
  width: 155px;
  height: 155px;
}

.category2 {
  font: bold 15px "Roboto Condensed",sans-serif;
  color: #272727;
  padding: 0 6px;
  background-color: #c2d4d7;
  position: absolute;
  bottom: 0;
  left: 0;
}

.culture-flex a {
  width: 155px;
  text-decoration: none;
  color: #272727;
  font: 20px "Lora",serif;
  line-height: 24px;
  letter-spacing: -1.5px;
  margin-bottom: 5px;
}

.culture-flex p {
  width: 155px;
  font: 15px "Helvetica Neue","Helvetica",Arial,sans-serif;
  color: #272727;
  opacity: 0.5;
  margin-bottom: 40px;
}

.more-flex {
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.more-flex img{
  width: 95px;
  height: 95px;
  margin-right: 15px;
}

.more-flex a {
  width: 360px;
  text-decoration: none;
  font: 17px bold sans-serif;
  line-height: 20px;
  color: #000;
  margin-bottom: 10px;
  letter-spacing: -1px;
}

.more-flex p {
  width: 360px;
  font: 15px Arial,Helvetica,sans-serif;
  line-height: 20px;
  color: #333;
}

/*Third Column*/

.third-col {
  width: 371;
}

.opinion-flex {
  width: 341.19px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-top: 10px;
}

.small-img {
  width: 63px;
  height: 63px;
  margin-right: 20px;
}

.opinion-flex a {
  width: 243px;
  text-decoration: none;
  font: 17px bold sans-serif;
  line-height: 21px;
  color: #000;
  letter-spacing: -0.6px;
}

.opinion-author {
  font: 14px "Roboto Condensed",sans-serif;
  line-height: 21px;
  color: #555;
  margin-top: 4px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.last-opinion {
  border-bottom: none;
}

.the-debate {
  margin-top: 20px;
}

.nigel {
  border-top: 4px solid #f92859;
}

.amir {
  border-top: 4px solid #1c87fb;
}

.debate-flex {
  width: 341.19px;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 15px;
}

.debate-flex a {
  width: 243px;
  text-decoration: none;
  font: 17px bold sans-serif;
  line-height: 21px;
  color: #000;
  letter-spacing: -0.6px;
  margin: 15px 0 0 15px;
}

.debate-author {
  width: 341.19px;
  font: 13px "Roboto Condensed",sans-serif;
  line-height: 21px;
  color: #555;
  margin-top: 4px;
  letter-spacing: -1px;
  margin: 2px 0 10px 0;
  padding-top: 20px;
  border-top: 1px solid #d9d9d9;
  font-weight: bold;
}

.debate-img {
  position: absolute;
  top: -8px;
  right: 0;
}

.vs {
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #d6d6d6;
  border-radius: 50%;
  font: bold 14px/40px "Roboto Condensed",sans-serif;
  text-align: center;
  margin: 14px auto 18px;
}

.border-bottom-none {
  border-bottom: none;
}

.latest-flex {
  margin-bottom: 15px;
}

.img-container4 {
  width: 341px;
  height: 227px;
  margin-top: 30px;
  position: relative;
}

.img-container4 img {
  width: 341px;
  height: 227px;
}

.category3 {
  font: bold 15px "Roboto Condensed",sans-serif;
  color: #3581f4;
  padding: 5px 15px;
  letter-spacing: -1px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
}

.text-latest {
  color: #333;
  font: 14px normal Arial,Helvetica,sans-serif;
  width: 341.19px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.text-latest a {
  text-decoration: none;
  color: #000;
  font: bold 24px "Roboto Condensed",sans-serif;
  line-height: 24px;
  margin-bottom: 5px;
  letter-spacing: -1px;
}

.newsletter-img {
  width: 29px;
  height: 28px;
  margin-right: 5px;
}

.newsletter {
  width: 300px;
  margin: 25px 20px 20px 10px;
  padding: 20px;
  background-color: #f4f5f6;
}

.sign-up {
  font: bold 15px "Roboto Condensed",sans-serif;
}

.newsletter a {
  padding: 10px 10px 10px 12px;
  color: white;
  font: bold 18px "Roboto Condensed",sans-serif;
  margin: 15px 0;
  background-color: #666;
  width: 100.81px;
  height: 38px;
}

.updade-your {
  color: #333;
  font: bold 15px "Roboto Condensed",sans-serif;
  letter-spacing: -1px;
}

.in-the-magazine-title {
  margin: 20px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #d9d9d9;
}

.img-container5 {
  width: 290px;
  height: 387px;
  position: relative;
}

.magazine-cover {
  width: 290px;
  height: 387px;
}

.category4 {
  font: bold 15px "Roboto Condensed",sans-serif;
  color: #f72210;
  padding: 8px 10px;
  background-color: rgba(255,255,255,0.9);
  position: absolute;
  bottom: 0;
  left: 0;
}

.see-all-features {
  font: bold 18px "Roboto Condensed",sans-serif;
  background-color: #f4f5f6;
  color: black;
  letter-spacing: -1px;
  padding: 8px 0;
}

.in-the-magazine-img-ctn {
  overflow: hidden;
  width: 290px;
}

.in-the-magazine-img {
  position: relative;
  right: 30%;
  margin: 20px 0;
}

.category5 {
  width: 290px;
  margin-bottom: 10px;
}

.horizons {
  padding: 3px 7px;
  background-color: #f72210;
  color: white;
  margin-right: 7px;
  font: bold 16px "Roboto Condensed",sans-serif;
  letter-spacing: -1px;
  width: 90.45px;
}

.culture {
  font: bold 16px "Roboto Condensed",sans-serif;
  color: #f72210
}

.magazine-text {
  font: bold 18px "Roboto Condensed",sans-serif;
  color: #000;
  letter-spacing: -1px;
}

.editors-img {
  width: 290px;
  height: 290px;
}

.text-editors {
  color: #333;
  font: 14px normal Arial,Helvetica,sans-serif;
  line-height: 20px;
  letter-spacing: 0.5px;
  width: 290px;
  margin: 20px 0;
}

.text-editors a {
  text-decoration: none;
  color: #000;
  font: bold 24px "Roboto Condensed",sans-serif;
  line-height: 24px;
  margin-bottom: 5px;
  letter-spacing: -1px;
}

.img-container6 {
  position: relative;
}

.featured-img {
  width: 396.66px;
  height: 264.77px;
}

.text-featured {
  width: 396.66px;
}

.text-featured a {
  text-decoration: none;
  color: #000;
  font: bold 24px "Roboto Condensed",sans-serif;
  line-height: 24px;
  margin-bottom: 5px;
  letter-spacing: -1px;
}

.category6 {
  width: 70px;
  height: 52px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 58px;
  text-indent: 5px;
  text-align: center;
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
}

.category6 a {
  text-decoration: none;
  color: #e9212e;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1310px;
  } 
  .container-fluid {
    max-width: 1310px;
    padding: 20px 30px 0 30px;
  }
}